{% set navPages = collections.all | eleventyNavigation %}
{% set baseUrl = page.url | baseUrl %}

<nav class="navbar">
  <ul class="flex space-x-4 uppercase font-semibold text-xs text-neutral-800">
    {% for item in navPages %}
      <li
        {% if (item.url == page.url) or (item.url == baseUrl) %}
          class="active"
          aria-current="page"
        {% endif %}
      >
        <a href="{{ item.url }}" class="flex box-border items-center h-16 px-2">
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>