---
layout: base.njk
---

<div class="mt-0 mb-14 md:my-18 lg:my-24">
  <div class="container">
    
    {% if headline %}
    <h1 class="text-5xl md:text-7xl text-center">{{ headline | safe }}</h1>
    {% endif %}

    {{ content | safe }}

  </div>
</div>
