

//  Text
// ===========================================================
.tm-font {
  font-family: @tm-font;
}

.tm-font-base {
  font-family: @tm-font-base;
}

.tm-font-deco {
  font-family: tm-deco-font;
}

//  Backgrounds
// ===========================================================

.tm-bg-dark {
  background: @tm-black;
  & * {
    color: fade(white, 70%);
  }
}

.tm-bg-white {
  background: white;
}

//  Media
// ===========================================================
.tm-object-fit {
  width:100%;
  height: 100%;
  object-fit: cover;
  img {
    width:100%;
    height: 100%;
    object-fit: cover;
  }
}