.tm-font {
  font-family: 'Playfair Display', serif;
}

.tm-font-base {
  font-family: 'Roboto', sans-serif;
}

.tm-font-mono {
  font-family: 'JetBrains Mono', monospace;
}

.tm-line-height {
  line-height: 1.65;
}