:root {
  --font-size: 19px;
  --line-height: 1.6;
  --font-base: 'Barlow', sans-serif;
  --font-heading: 'Playfair Display', serif; 
  --font-heading-weight: 400;
  --font-heading-line-height: 1.3;

  --h1: 2.5rem;
  --h2: 1.9rem;
  --h3: 1.4rem;

  --bg-priamry: #1c1b20;
  --bg-black: #1c1b20;
  --bg-white: #fff;
  --bg-muted: #F3F4F6;

  --color-primary: #1c1b20;
  --color-global: #1c1b20;
  --color-heading: #1c1b20;
  --color-muted: #8d99a7;

  --border-color: #e5e5e5;

  --container: 1200px;
  --container-small: 750px;
  --section-padding: 120px;
  --gutter: 35px;
  --margin: 25px;
  --margin-medium: 50px;
}

@media(max-width: 480px) {
  :root {
    --gutter: 20px;
    --margin-medium: 35px;
    --section-padding: 50px;
    --h1: 2rem;
    --h2: 1.4rem;
    --h3: 1.2rem;
  }
}