// ========================================================= 
// Header 
// ========================================================= 

#header {

  @media (min-width: @breakpoint-medium) {
    & > div {
      margin-top: 35px;
    }

    .center {
      position: absolute;

      left: 50%;
      transform: translateX(-50%);
    }
  }

}