@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    font-size: 20px;
    @apply text-base-800 font-base;
  }

  li b,
  p b {
    @apply font-medium;
  }

  h1 em, h2 em, h3 b, h4 em {
    @apply font-bold uppercase italic;
  }

  h1 b, h2 b, h3 b, h4 b {
    @apply font-bold uppercase;
  }

}

@layer components {

  .navbar li {
    @apply relative;
  }

  .navbar li a {
    @apply 
    after:content-[''] 
    after:block 
    /*after:h-0.5*/
    after:bg-black
    after:absolute
    after:w-0
    after:transition-all;
  }

  .navbar li a:after {
    left: 0.5rem;
    height:0.1rem;
    bottom: 22px;
  }
  
  .navbar li:hover a:after,
  .navbar li.active a:after {
    width: calc(100% - 1rem);
    left: 0.5rem;
  } 

}