/* =========================================================== 
  Header
=========================================================== */

#header {

  height:80px;
  padding: 0px @global-gutter;
  box-sizing: border-box;

  @media(max-width: @breakpoint-small) {
    padding: 0 @global-small-gutter + 10px;
    height:65px;
  }

  &.header-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width:100%;
    max-width: 100%;
    z-index: 99;
  }

  & + .uk-sticky-placeholder {
    // height: 0 !important;
  }

  &.uk-active {
    background: white;
    z-index: 999;
    & * {
      color: @tm-black !important;
    }
    .burger-menu span {
      background: @tm-black !important;
    }
  }

  @media(min-width: @breakpoint-xlarge) {
    padding: 20px @global-large-gutter;
  }

  @media(max-width: @breakpoint-large) {
    &.header-home:not(.uk-active) {
      * {
        color: white;
      }
      .burger-menu span {
        background: white !important;
      }
    }
  }

}