#page-heading {

  @media(min-width: @breakpoint-large) {
    .page-image {
      min-height:300px;
    }
  }

  .page-headline {

    opacity: 0;
    overflow: hidden;

    p {
      position:relative;
      padding-left: 0px;
      transition: padding .7s;

      &:before {
        content: "";
        position:absolute;
        left:0;
        width:0px;
        height:2px;
        background: @tm-black;
        top:50%;
        margin-top:-1px;
        transition: width .7s;
      }
    }

    &.is-loaded {
      opacity:1;
      @media(min-width: @breakpoint-medium) {
        p {
          padding-left:120px;
          &:before {
            width:100px;
          }
        }
      }
    }

  }

  @media(max-width: @breakpoint-medium) {

    margin-top:@global-gutter !important;

    .page-image.uk-container {
      padding: 0 !important;
    }
    
    .page-headline {
      p {
        transform: translateY(100px);
        transition: .5s;
        transition-delay: .3s;
      }
      &.is-loaded {
        p {
          transform: translateY(0);
        }
      }
    }
    
  }

}