---
layout: page.njk

seo:
  title: Ivan Milincic - Web Developer
  description: "I'm a Serbian web developer working from Sofia, Bulgaria. Very passionate about web and tech in general. I'm in tech for a long time, in different shapes and forms, but found my self in web development, and that is what i really love and enjoy doing."

title: About
headline: <em>About</em> Me
about: I'm a Serbian web developer working from Sofia, Bulgaria. Very passionate about web and tech in general. I'm in tech for a long time, in different shapes and forms, but found my self in web development, and that is what i really love and enjoy doing.

eleventyNavigation:
  key: about
  title: About
  order: 1

education: 
  title: <em>University</em> Education
  text: I have <b>Bachelor's Degree in Information Technology</b>, from Academy of Professional Studies in Serbia. I have studied Information Technology and gained educational title <b>IT engineer</b>.

exp:
  - I have a decade of expiriance in web development, working on all kind of projects, from brochure type websites, to ecommerce and directory/classifieds types of projects. 
  - I have worked with most popular CMS like wordpress, joomla, opencart etc... And have a lot of experience working with ProcessWire CMS/CMF, building advanced content structures, front-end, modules, custom admin pages etc...
  - "Not just coding, my experience on the web goes beyond just witing the code. During the years i have done everything that comes along with building and managing websites: design and development, deployments and hosting, servers and dns, git and integrations, working with graphics, photoshop etc... "

stack:
  "I have preference for front-end development and my main tech stack is: <b>HTML/CSS/JavaScript/PHP</b>. I can work with any traditional or headless content managament systems, but prefer php based CMS with vanilla JavaScript, HTML and CSS, with preprocessors and libraries like htmx and sometimes vue.js and nuxt.js."

tech:
  - title: ProcessWire
    text: Is always my first CMS of choice. It's a secure, stable and powerful platform with great API. It's speeds up my development process and help me build fast and performant solutions that scales very well.
  - title: WordPress
    text: As most popular CMS, wordpress is also in my stack. I try to avoid page builders, and usualy develop websites from scratch rather then using pre-made themes. But, if project and client require a specific theme, i would be comftible implementing and customizing it...
  - title: E-Commerce
    text: For ecommerce type of projects, my default platform of choice is <b>WooCommerce</b>, and <b>SnipCart</b> for static websites. For more scalable solutions, would look into Shopware or Shopify.
  - title: JAMstack
    text: "I love working with modern static site generators like: 11ty, astro or nuxt. Using them to build super-fast static websites in combination with github, cloudflare pages and netlify services. When there is no need for advanced content managament features, static websites are perfect solution. Easy to host and deploy with no maintaince costs."
  - title: UIkit & TailwindCSS
    text: As a front-end developer i write a lot of css, usually with less and sass preprocessors, and i like doing it. But, In order to speed up development processes, i often use css front-end frameworks. <br /> I can work basically with any existing css framework out there. When working with a CMS i mainly use UIkit, and when working with static site generators and JAMstack, i prefer TailwindCSS.
---

<div class="max-w-3xl mx-auto">

  <p class="my-10">{{ about }}</p>

  <h2 class="text-3xl mb-3">{{ education.title | safe }}</h2>
  <p>{{ education.text | safe }}</p>

  <h2 class="text-3xl mb-3 mt-10"><em>Work</em> Expiriance</h2>

  {% for paragraph in exp %}
    <p class="mb-3">{{ paragraph }}</p>
  {% endfor %}

  <h2 class="text-3xl mb-3 mt-10"><em>Tech</em> Stack</h2>

  <p>{{ stack | safe }}.</p>

  {% for item in tech %}
  <h3 class="text-lg font-medium mt-5 mb-1">{{ item.title }}</h3>
  <p>{{ item.text | safe }}</p>
  {% endfor %}

</div>