---
layout: page.njk

seo:
  title: Hire Freelance  Web Developer - Ivan Milincic
  description: "Freelance web developer. Building custom websites at any scale, with traditional or headless CMS, and static site generators. I work remotely, from Sofia, Bulgaria."

title: Hire Me
headline: <b>Hire</b> Me

eleventyNavigation:
  key: hireme
  title: Hire Me
  order: 2

what:
  - title: Design & Development
    text: Web design and front-end development.
  - title: Custom Websites
    text: Websites with custom design and features, SEO friendly, fast and optimized.
  - title: Webshops
    text: Ecommerce websites with woocommerce, snipcart, opencart and other platforms.
  - title: Static Websites
    text: Super-fast websites with modern static site generators (11ty, astro, nuxt...).
  - title: Design Implementation
    text: Coding you design into fully functional websites.
  - title: ProcessWire Expertise
    text: Front-end, modules, custom admin pages, integrations…
  - title: WordPress
    text: Custom websites, plugins and themes implementation and customization...

why:
  - title: Experience
    text: I have almost a decade of expiriance in web development. 
  - title: Multitasking
    text: My expiriance goes beyond coding, i can do design and work with graphics, handle deployment and manage hosting related tasks, etc…
  - title: A to Z Development
    text: I can manage and develop whole projects, from start to finish.
  - title: Optimization
    text: I deliver well-optimized websites with fast loading times, and fully responsive.
  - title: Support
    text: I can offer long-term support for your webiste.
  - title: Competitive Pricing
    text:  I work remotely from Bulgaria, and i can offer competitive rates and pricing.

---

<div class="max-w-3xl mx-auto mt-10">

  <p class="text-lg">Freelance web developer. Building custom websites at any scale, with traditional or headless CMS, and static site generators. I work remotely, from Sofia, Bulgaria.</p>

  <h2 class="text-2xl mt-7 uppercase"><b>What</b> can i do for you?</h2>

  <ul class="mt-4 divide-y ">
    {% for item in what %}
    <li class="py-2 ">
      <span class="font-medium block md:inline">{{ item.title }}.</span> 
      {{ item.text }}
    </li>
    {% endfor %}
  </ul>

  <h2 class="text-2xl mt-7 uppercase"><b>Why</b> Me?</h2>

  <ul class="mt-4 divide-y ">
    {% for item in why %}
    <li class="py-2 ">
      <span class="font-medium block md:inline">{{ item.title }}.</span> 
      {{ item.text }}
    </li>
    {% endfor %}
  </ul>

  <h2 class="text-2xl mt-7 uppercase">Need a <b>Web Developer</b>?</h2>

  <p class="mt-2 text-lg">Let's get in touch and discuss about your next project! You can write me at <b>hello@kreativan.dev</b>.</p>

</div>