---
layout: page.njk
title: Portfolio
---

<h1 class="text-7xl text-center"><em>My</em> Portfolio</h1>

<div class="grid gap grid-cols-2 mt-20">
  {% for item in portfolio %}
    {% if item.type == "website" %}
      {% set img = item.image %}
      <div>
        {{ item.image }}
        {% if item.image %}
          {% image {src: item.image} %}
        {% endif %}
        {{ item.title }}
      </div>
    {% endif %}
  {% endfor %}
</div>  